body {
	background: #f5f5f5;
}

footer {
	margin-top: 8px;
	margin-bottom: 8px;
	color: darkgray;
	text-align: center;
}

footer small a {
	color: #7AA7CF;
}

#main-container {
	position: relative;
	background: #ffffff;
	box-shadow: 0 1px 16px silver;
	z-index: 2;
}

.node-info {
	font-style: italic;
	display: none;
	margin: 0;
	padding: 0;
}

.drag {
	background-color: lightblue;
}

.info-items td {
	vertical-align: top;
}

.info-items td:first-child {
	width: 90px;
}

#header {
	background: #A0CFFF;
	color: #3474A8;
	padding: 16px;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 15px;

}

#header h3 {
	margin: 0;
}

#resizer {
	font-size: 26px;
}

#resizer i {
	padding-top: 15px;
}

#resizer i.glyphicon-resize-small {
	margin-right: 120px;
}

#dropzone {
	height: 450px;
	width: 100%;
	font-size: 1.2em;
	cursor: pointer;
	text-align: center;
	display: table;
	table-layout: fixed;
}

#dropzone .panel-body {
	display: table-cell;
	vertical-align: middle;
}

#output-box {
	display: none;
	margin-bottom: 20px;
}

#button-box {
	position: absolute;
	right: 40px;
}

.ace_hidden-cursors {
	opacity: 0
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: #F5F5E7;
}

#data {
	margin-bottom: 0;
}

#data th span {
	cursor: help;
}

#data th, #data td {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#bottom-bar a:focus, a:hover {
	text-decoration: none;
}

#bottom-bar .inline {
	background: #fff;
	display: inline-block;
	padding: 15px;
	margin: -15px
}

#bottom-bar {
	z-index: 1;
	bottom: 0;
	padding: 15px;
	position: static;
	display: none;
	margin-left: -8px;
}

@media (min-width: 1300px) {
	#bottom-bar {
		position: fixed;
	}

	#pager {
		display: block;
	}
}

@media (min-width: 1450px) {
	#pager {
		display: inline-block;
	}
}

.ribbon {
	z-index: 3;
}
/* Animated loading icon */

.glyphicon-refresh-animate {
	-animation: spin .7s infinite linear;
	-webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform: scale(1) rotate(0deg);
	}
	to {
		transform: scale(1) rotate(360deg);
	}
}

/*Stuff added in this fork*/
body {
  background-color: #222;
  color: #E0E0E0 !important;
}

.ribbon.grey {
  background: #444;
}

#main-container {
  background: #373737;
  box-shadow: 0 1px 8px orange;
}

#header {
  background: #444;
  color: #E0E0E0;
}

#dropzone {
  background-color: #3F3F3F;
  border: 1px solid #303030;
}

#bottom-bar .inline {
  /* background: #fff; */
  background: transparent;
}

footer {
  /* color: darkgray; */
  color: #E0E0E0;
}

/* bootstrap.min.css | http://inloop.github.io/sqlite-viewer/css/bootstrap.min.css */

@media (min-width: 1200px) {
  .container {
    background-color: #333;
  }
}

.btn-primary{
  background-color: orange;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-primary:hover {
	background-color: rgb(236, 153, 0);
}
.btn-primary:focus{
  background-color: orange!important;
  border: 1px solid rgba(0, 0, 0, 0.1)!important;
}
tr{
  background-color: #444!important;
}

.btn-default {
  background-color: #333;
  border-color: #252525;
  color: #E0E0E0!important;
}
.btn-default:focus{
  background-color: #333!important;
}
.btn-default:hover{
	background-color: #444;
	border-color: #383838;
}

.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
  background-color: #333;
  border-color: #252525;
}

.select2-drop-active {
  border: 1px solid #333;
}

.select2-drop, .select2-no-results{
  background: #444;
  color: #E0E0E0;
}

.select2-search input {
  background: #555;
  color: #E0E0E0;
  border: 1px solid #444;
}

.select2-container .select2-choice > .select2-chosen {
  background-color: #484848;
  color: #E0E0E0;
}

.select2-results .select2-highlighted {
  /* background-color: #337ab7; */
  background-color: orange;
  border-radius: 3px;
}

/*Select2 Box Shadow*/
.select2-container-active .select2-choice, .select2-container-multi.select2-container-active .select2-choices {
	border-color: #ffa500;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 165, 0, 0.6);
}

.select2-container .select2-choices .select2-search-field input, .select2-container .select2-choice, .select2-container .select2-choices {
	border-color: #333;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border: 1px solid #383838!important;
}

/*Texteare appears when user left-clicks a td item*/
textarea{
	border: none;
	background-color: #444;
}
/*SQL Query Input*/
.ace-monokai {
	background-color: #404040!important;
	border: none!important;
}
.select2-choice{
	background: #393939!important;
}
.select2-arrow{
	background: transparent!important;
}

/*Messages (not all are covered)*/
.alert-danger{
	border: none;
	color: #E0E0E0;
	background-color: #6E4242;
}